<div class="parents-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 parents-new-container">
        <h1 class="text-center text-grey">ログイン</h1>
        <%= form_for :session, url: login_path do |f| %>
          <div class="form-group">
            <%= f.label :メールアドレス, class: "text-grey" %>
            <%= f.text_field :email, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :パスワード, class: "text-color" %>
            <%= f.password_field :password, class: "form-control" %>
          </div>
          
          <%= f.submit "ログイン",class: "btn-block btn-color" %>
          <% end %>
      </div>
    </div>
  </div>
</div>