<div class="children-index-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-3 col-md-6 children-index-container">
        <h1 class="text-center text-color">子ども一覧</h1>
        <table class="text-center text-color">
          <% @children.each do |child|%>
            <tr>
              <td class="col-md-3"><%= child.name %></td>
              <td class="col-md-3"><%= child.icon %></td>
              <td class="col-md-3"><%= link_to "編集", edit_child_path(child.id) %></td>
              <td class="col-md-3"><%= link_to "削除", child_path(child.id), method: :delete, data: { confirm: '削除しますか？'} %></td>
            </tr>
          <% end %>
        </table>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-4 col-md-4">
        <%= link_to "子どもを登録する", new_child_path, class:'btn btn-block btn-color' %>
      </div>
    </div>
  </div>
</div>