<div class="child-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="child-new-container">
        <h1 class="text-center text-color col-md-offset-4 col-md-4">子ども登録</h1>
        <%= form_with model: @child, local: true do |f| %>
          <%= render 'shared/error_messages', {model: @child} %>
          <div class="form-group col-md-offset-4 col-md-4">
            <%= f.label :name, "お子様のお名前", class: 'text-color' %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group col-md-offset-4 col-md-4">
            <%= f.label :login_id, "ログインＩＤ", class: "text-color" %>
            <%= f.text_field :login_id, class: "form-control" %>
          </div>
          <div class="form-group col-md-offset-4 col-md-4">
            <%= f.label :password, "パスワード（英数字を必ず含む８文字以上）", class: "text-color" %>
            <%= f.password_field :password, class: "form-control" %>
          </div>
          <div class="form-group col-md-offset-4 col-md-4">
            <%= f.label :password_confirmation, "パスワード（確認用）", class: "text-color" %>
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>
          <div class="form-group icon-select col-md-offset-2 col-md-8">
            <p><%= f.label :アイコン選択, class: "text-color col-md-offset-3" %></p>
            <% @icons.each do |icon|%>
              <div class="col-md-2">
                <p><%= image_tag icon.image.url %></p>
                <p class="text-center"><%= f.radio_button :icon_id, icon.id %></p>
              </div>
            <% end %>
          </div>
          <div class="col-md-offset-4 col-md-4">
            <%= f.submit "登録", class: "btn-block btn-color" %>
          </div>
        <% end %>
        <%= link_to "戻る", "#", class: "text-color col-md-offset-4 col-md-4" %>
      </div>
    </div>
  </div>
</div>