<div class="result-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 result-new-container">
        <h1 class="text-center text-color"><%= @result.child.name %>のポイント編集</h1>
        <%= form_with model: @result, local: true do |f| %>
          <div class="form-group">
            <%= f.label :completion_date, "お手伝いした日", class: 'text-color' %>
            <%= f.date_field :completion_date, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :name, "お手伝い名", class: "text-color" %>
            <%= f.text_field :name, class: "form-control"  %>
          </div>
          <div class="form-group">
            <%= f.label :description, "説明", class: "text-color" %>
            <%= f.text_area :description, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :point, "ポイント（半角数字）", class: "text-color" %>
            <%= f.number_field :point, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :bonus, "ボーナスポイント（半角数字）", class: "text-color" %>
            <%= f.number_field :bonus, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :parents_comment, "コメント", class: "text-color" %>
            <%= f.text_area :parents_comment, class: "form-control" %>
          </div>
          <%= f.submit "ポイントを登録する", class: "btn-block btn-color" %>
        <% end %>
        <%= link_to "戻る", parents_helps_path, class: "text-color" %>
      </div>
    </div>
  </div>
</div>