<div class="result-day-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10 result-day-container">
        <h1 class="text-center text-color"><%= @date %> お手伝い一覧</h1>
        <% @children.each do |child|%>
          <% if child.match_completion_date(@date).length != 0 %>
            <p class="text-color">お手伝いした人：<%= child.name %></p>
            <table class="text-center text-color">
              <tr>
                <th class="text-center col-md-2">お手伝い名</th>
                <th class="text-center col-md-2">説明</th>
                <th class="text-center col-md-1">ポイント</th>
                <th class="text-center col-md-1">ボーナス</th>
                <th class="text-center col-md-2">アピールポイント</th>
                <th class="text-center col-md-2">コメント</th>
                <th class="col-md-1"></th>
                <th class="col-md-1"></th>
              </tr>
              <% child.match_completion_date(@date).each do |result|%>
                <tr>
                  <td><%= result.name %></td>
                  <td class="text-left"><%= safe_join(result.description.split("\n"), tag.br) %></td>
                  <td><%= result.point %>pt</td>
                  <td><%= result.bonus %>pt</td>
                  <td class="text-left"><%= safe_join(result.appeal_comment.split("\n"), tag.br) %></td>
                  <td class="text-left"><%= safe_join(result.parents_comment.split("\n"), tag.br) %></td>
                  <td><%= link_to "編集", edit_result_path(result.id) %></td>
                  <td><%= link_to "削除", result_path(result.id), method: :delete %></td>
                </tr>
              <% end %>
            </table>
          <% end %>
        <% end %>
        <%= link_to "戻る", results_path, class:'text-color' %>
      </div>
    </div>
  </div>
</div>