<div class="result-month-wrapper">
  <div class="container">
    <div class="row">
      <div class="result-month-container">
        <div class="sign-container">
          <% if parent_logged_in? && @applies.length != 0%>
            <%= link_to "承認待ちお手伝いがあります", parents_applies_path %>
          <% elsif child_logged_in? && @requests.length != 0 %>
            <%= link_to "お手伝いを頼まれています", children_requests_path %>
          <% end%>
        </div>
        <div class="text-color point-container">
          <h2><%= @search_month.month %>月のポイント</h2>
          <% @children.each do |child|%>
            <div class="child-point">
              <p class="text-right child-name"><%= child.name %></p>
              <%= image_tag child.icon.image.url %>
              <p>：</p>
              <p><%= child.total_point(@search_date) %></p>
            </div>
          <% end %>
        </div>
        
        <%= month_calendar events: @display_children do |date, display_children| %>
          <%= date.day %>
          
          <% display_children.each do |display_child| %>
            <% display_child.child.each do |child| %>
              <%= link_to results_path(date: display_child.start_time ) do %>
                <%= image_tag child.icon.image.url %> 
              <% end %>
            <% end %>
          <% end %>
          
        <% end %>
      </div>
    </div>
  </div>
</div>