<div class="applies-index-wrapper">
  <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 applies-index-container">
          <h1 class="text-center text-color">承認待ちお手伝い</h1>
          <% if @applies.length != 0 %>
            <% @children.each do |child|%>
              <%# if child.not_closed_applies.length != 0 %>
                <p><%= child.name %>のお手伝い</p>
                <table class="text-center text-color table-hover">
                  <tr>
                    <th class="text-center col-md-1">依頼日</th>
                    <th class="text-center col-md-1">実行日</th>
                    <th class="text-center col-md-2">お手伝い名</th>
                    <th class="text-center col-md-2">説明</th>
                    <th class="text-center col-md-1">ポイント</th>
                    <th class="text-center col-md-3">アピールポイント</th>
                    <th class="col-md-1"></th>
                    <th class="col-md-1"></th>
                  </tr>
                  <% child.not_closed_applies.each do |apply| %>
                    <tr>
                      <td><%= apply.request.request_date.strftime("%-m/%-d") %></td>
                      <td><%= apply.completion_date.strftime("%-m/%-d")  %></td>
                      <td class="text-left"><%= apply.request.name %></td>
                      <td class="text-left"><%= safe_join(apply.request.description.split("\n"), tag.br) %></td>
                      <td><%= apply.request.point %>pt</td>
                      <td class="text-left"><%= safe_join(apply.comment.split("\n"), tag.br) %></td>
                      <td><%= link_to "承認する", new_result_path(apply_id: apply.id) %></td>
                      <td><%= link_to "やり直し", parents_apply_path(apply.id), method: :delete, data: { confirm: 'やり直しを頼みますか？'} %></td>
                    </tr>
                  <% end %>
                </table>
                <%# end %>
            <% end %>
          <% else %>
            <p class="text-color text-center">承認待ちのお手伝いはありません</p>
          <% end %>
        </div>
      </div>
  </div>
</div>
