<div class="helps-index-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-1 col-md-10 helps-index-container">
        <h1 class="text-center text-color">お手伝い一覧</h1>
        <% @children.each do |child|%>
          <p class="text-color"><%= child.name %>のお手伝い</p>
            <% if child.helps.count != 0 %>
              <table class="text-center text-color">
                <tr>
                  <th>お手伝い名</th>
                  <th>説明</th>
                  <th>ポイント</th>
                  <th></th>
                  <th></th>
                  <th></th>
                </tr>
                <% child.helps.each do |help|%>
                  <tr>
                    <td><%= help.name %></td>
                    <td><%= safe_join(help.description.split("\n"), tag(:br)) %></td>
                    <td><%= help.point %>pt</td>
                    <td><%= link_to "依頼する", new_help_request_path(help_id: help.id) %></td>
                    <td><%= link_to "編集", "#" %></td>
                    <td><%= link_to "削除", "#" %></td>
                  </tr>
                <% end %>
              </table>
            <% else %>
              <p class="text-color">まだありません</p>
            <% end %>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-md-offset-2 col-md-4">
        <%= link_to "お手伝いを登録", new_help_path, class:'btn btn-block btn-color' %>
      </div>
      <div class="col-md-4">
        <%= link_to "依頼中のお手伝いを確認", "#",class:'btn btn-block btn-color' %>
      </div>
    </div>
  </div>
</div>