<div class="parents-new-wrapper">
  <div class="container">
    <div class="row">
      <div class="col-md-offset-4 col-md-4 parents-new-container">
        <h1 class="text-center text-color">アカウント設定</h1>
        <%= form_with model: @parent, local: true do |f| %>
          <%= render 'shared/error_messages', {model: @parent} %>
          <div class="form-group">
            <%= f.label :name, "ニックネーム", class: "text-color" %>
            <%= f.text_field :name, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :email, "メールアドレス", class: "text-color" %>
            <%= f.email_field :email, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :password, "現在のパスワード", class: "text-color" %>
            <%= f.password_field :password, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :newpassword, "新しいパスワード", class: "text-color" %>
            <%= f.password_field :password, class: "form-control" %>
          </div>
          <div class="form-group">
            <%= f.label :newpassword, "新しいパスワード（再入力）", class: "text-color" %>
            <%= f.password_field :password_confirmation, class: "form-control" %>
          </div>
          <%= f.submit "変更する", class: "btn-block btn-color" %>
        <% end %>
      </div>
    </div>
  </div>
</div>