<div class="applies-index-wrapper">
  <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 applies-index-container">
          <h1 class="text-center text-color">報告中のお手伝い</h1>
            <% if @applies.length != 0 %>
              <table class="text-center text-color table-hover">
                <tr>
                  <th class="text-center col-md-1 table-date">頼まれた日</th>
                  <th class="text-center col-md-1 table-date">お手伝い日</th>
                  <th class="text-center col-md-2">お手伝い名</th>
                  <th class="text-center col-md-2">説明</th>
                  <th class="text-center col-md-1">ポイント</th>
                  <th class="text-center col-md-3">アピールポイント</th>
                  <th class="col-md-1"></th>
                  <th class="col-md-1"></th>
                </tr>
                <% @applies.each do |apply|%>
                  <tr>
                    <td><%= apply.request.request_date.strftime("%-m/%-d") %></td>
                    <td><%= apply.completion_date.strftime("%-m/%-d") %></td>
                    <td class="text-left"><%= apply.request.name %></td>
                    <td class="text-left"><%= safe_join(apply.request.description.split("\n"), tag.br) %></td>
                    <td><%= apply.request.point %>pt</td>
                    <td class="text-left"><%= safe_join(apply.comment.split("\n"), tag.br) %></td>
                    <td><%= link_to "編集", edit_children_apply_path(apply.id) %></td>
                    <td><%= link_to "取り消し", children_apply_path(apply.id), method: :delete, data: { confirm: 'お手伝いの報告をやめますか？'} %></td>
                  </tr>
                <% end %>
              </table>
            <% else %>
              <p class="text-color">報告中のお手伝いはありません</p>
            <% end %>
        </div>
      </div>
  </div>
</div>
