<div class="requests-index-wrapper">
  <div class="container">
      <div class="row">
        <div class="col-md-offset-1 col-md-10 requests-index-container">
          <h1 class="text-center text-color">頼まれているお手伝い</h1>
            <% if @requests.length != 0 %>
              <table class="text-center text-color table-hover">
                <tr>
                  <th class="text-center col-md-2">頼まれた日</th>
                  <th class="text-center col-md-3">お手伝い名</th>
                  <th class="text-center col-md-4">説明</th>
                  <th class="text-center col-md-2">ポイント</th>
                  <th class="col-md-1"></th>
                </tr>
                <% @requests.each do |request|%>
                  <tr>
                    <td><%= request.request_date.strftime("%-m/%-d") %></td>
                    <td class="text-left"><%= request.name %></td>
                    <td class="text-left"><%= safe_join(request.description.split("\n"), tag(:br)) %></td>
                    <td><%= request.point %>pt</td>
                    <td><%= link_to "できた！", new_children_apply_path(request_id: request.id) %></td>
                  </tr>
                <% end %>
              </table>
            <% else %>
              <p class="text-color">頼まれているお手伝いはありません</p>
            <% end %>
        </div>
      </div>
      <div class="row">
        <div class="col-md-offset-4 col-md-4">
          <%= link_to "報告中のお手伝い", children_applies_path, class:'btn btn-block btn-color' %>
        </div>
      </div>
  </div>
</div>
