<header>
  <nav class="navbar navbar-expand-lg navbar-default navbar-fixed-top navbar-transparent">
    <div class="container">
      <%= link_to root_path do %>
        <%= icon 'fas', 'home fa-3x', class: "navbar-home"  %>
      <% end %>
      <!--<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarContents" aria-controls="navbarContents" aria-expanded="false" aria-label="Toggle navigation">-->
      <!--  <span class="navbar-toggler-icon"></span>-->
      <!--</button>-->
        <div class="collapse navbar-collapse navbar-right" id="navbarContents">
          <ul class="nav navbar-nav">
          <% if parent_logged_in? %>
            <li class="nav-item">
              <div class="dropdown">
                <%#= link_to "お手伝い管理", parents_helps_path %>
                <button type="button" id="dropdown-help" class="btn btn-outline-secondary dropdown-toggle text-color" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">お手伝い管理</button>
                <div class="dropdown-menu" aria-labelledby="dropdown-help">
                  <%= link_to "お手伝い登録", new_parents_help_path, class:'dropdown-item text-color' %>
                  <%= link_to "お手伝い一覧", parents_helps_path, class:'dropdown-item text-color' %>
                  <%= link_to "依頼中のお手伝い", parents_requests_path, class:'dropdown-item text-color' %>
                  <%= link_to "承認待ちのお手伝い", parents_applies_path, class:'dropdown-item text-color' %>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <%= link_to "こども管理",  children_path, class:'btn header-btn text-color' %>
            </li>
            <li class="nav-item">
              <%= link_to "アカウント設定", edit_parent_path(current_parent), class:'btn header-btn text-color' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", parents_logout_path, method: :delete, class:'btn header-btn text-color' %>
            </li>
          <% elsif child_logged_in? %>
            <li class="nav-item">
              <%= image_tag current_child.icon.image.url %>
            </li>
            <li class="nav-item">
              <p><%= current_child.name %></p>
            </li>
            <li class="nav-item">
              <%= link_to "お手伝いをする", children_helps_path, class:'btn header-btn text-color' %>
            </li>
            <li class="nav-item">
              <%= link_to "ログアウト", children_logout_path, method: :delete, class:'btn header-btn text-color' %>
            </li>
          <% else %>
            <li class="nav-item">
              <%= link_to "新規登録", new_parent_path, class:'btn header-btn text-color' %>
            </li>
            <li class="nav-item">
              <%= link_to "ママ・パパのログイン", parents_login_path, class:'btn header-btn text-color' %>
            </li>
            <li class="nav-item">
              <%= link_to "こどものログイン", children_login_path, class:'btn header-btn text-color' %>
            </li>
          <% end %>
        </ul>
      </div>
    </div>
  </nav>
</header>