<header class="navbar navbar-default navbar-fixed-top navbar-transparent">
  <div class="container">
    <%= link_to "ホーム", results_path %>
    <nav>
      <ul class="nav navbar-nav navbar-right">
        <% if parent_logged_in? %>
          <li>
            <%= link_to "お手伝い管理", parents_helps_path %>
          </li>
          <li>
            <%= link_to "こども管理",  children_path %>
          </li>
          <li>
            <!--%= link_to "アカウント設定", edit_parent_path(id: session[:parent_id]) %>-->
            <%= link_to "アカウント設定", edit_parent_path(current_parent) %>
          </li>
          <li>
            <%= link_to "ログアウト", parents_logout_path, method: :delete %>
          </li>
        <% elsif child_logged_in? %>
          <li>
            <%= current_child.name %>
          </li>
          <li>
            <%= link_to "お手伝いをする", children_helps_path %>
          </li>
          <li>
            <%= link_to "ログアウト", children_logout_path, method: :delete %>
          </li>
        <% else %>
          <li>
            <%= link_to "新規登録", new_parent_path %>
          </li>
          <li>
            <%= link_to "ママ・パパのログイン", parents_login_path %>
          </li>
          <li>
            <%= link_to "こどものログイン", children_login_path %>
          </li>
        <% end %>
      </ul>
    </nav>
  </div>
</header>