<!DOCTYPE html>
<html>
  <head>
    <title>HelpPoint</title>
    <%= render 'layouts/rails_default' %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/flash_messages' %>
    <%= render 'layouts/header' %>
    <%= yield %>
    <%= render 'layouts/javascript_file' %>
  </body>
</html>
